<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="50.0.1" targetFramework="net472" />
  <package id="Rebex.Common" version="7.0.8865" targetFramework="net472" />
  <package id="Rebex.Ftp" version="7.0.8865" targetFramework="net472" />
  <package id="Rebex.Networking" version="7.0.8865" targetFramework="net472" />
</packages>